h1 {
    font-size: 1.2em;
    color: #1b506f;
}

h2 {
    font-size: 1.1em;
    color: #1b506f;
}

li {
    font-size: 1.0em;
    font-family: 'Sans-serif';

}

span {
    font-size: 1.0em;
    font-family: 'Sans-serif';
}

td {
    height: 35px;
}

body {
    margin-left: 20px;
    margin-right: 20px;
    margin-top -10px;

}
