*.iml
.gradle
local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/*
fabric.properties
google-services.json
google_play.json
/fastlane/report.xml
*.apk
*.aab
output-metadata.json
