<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="oscar.riksdagskollen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-sdk tools:overrideLibrary="com.reddit.indicatorfastscroll" />


    <application
        android:name=".RiksdagskollenApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/WhiteTheme"
        android:usesCleartextTraffic="true"
        >

        <activity
            android:name=".Activity.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/InitialTheme"
            android:launchMode="singleTop"
            android:alwaysRetainTaskState="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.DocumentReaderActivity"
            android:theme="@style/DefaultTheme.NoActionBar" />
        <activity android:name=".Activity.ProtocolReaderActivity" />
        <activity android:name=".Activity.VoteActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/DefaultTheme.NoActionBar"
        />
        <activity android:name=".Activity.SearchedVoteAcitivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/DefaultTheme.NoActionBar" />
        <activity
            android:name=".Activity.RepresentativeDetailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/DefaultTheme.NoActionBar" />
        <activity android:name=".Activity.PreferencesActivity" />
        <activity android:name=".DebateView.DebateActivity" />

        <service android:name=".DebateView.AudioPlayerService" />

        <receiver android:name=".Util.Helper.CustomTabs$CopyBroadcastReceiver" />


    </application>


</manifest>